# IDEs
.idea

.DS_Store

# WordPress
wp-config.php

docroot/wp-content/themes/undergpc/node_modules/
docroot/wp-content/themes/undergpc/vendor/
docroot/wp-content/themes/undergpc/node_modules/*
docroot/wp-content/themes/undergpc/vendor/*

