.navbar-brand.h1-mimic {
    color: $dark-blue;

    @include media-breakpoint-up(m) {
        font-size: 2.5rem !important;
    }

    @include media-breakpoint-up(lg) {
        font-size: 4.5rem !important;
        // transition: font-size 0.15s ease-out;
    }
}


@include media-breakpoint-up(lg) {
    .header__main-nav__scrolled {
        .navbar-brand.h1-mimic {
            font-size: 3.5rem !important;
            transition: font-size 0.2s ease-in-out;
        }
    }
}

.site-main__single-post {
    max-width: 992px;
    margin: auto;
}