// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


// $black: #262626 !default;
// $blue-light: #99AABF !default;
// $blue-steel: #5D6C8C !default;
// $grey: #8B8B8B !default;
// $grey-dark: #595959 !default;
// $grey-light: #F0F0F0 !default;
// $white: #FCFCFA !default;
// $yellow: #F2B035 !default;
// $off-white: #f6f9fa !default;

$black: #0d0d0d !default;
$blue: #2675a6 !default;
$dark-blue: #162c40 !default;
$grey-dark: #5b5e5f !default;
$grey: #8b8b8b !default;
$grey-light: #F0F0F0 !default;
$light-blue: #b4d2d9 !default;
$off-white: #f4fafb !default;
$steel-blue: #498ba6 !default;
$white: #fff !default;

.navbar-light {
    background-color: $white;
}

.wp-block-code code {
    background: $grey-light;
    border: 1px solid $grey;
    border-radius: 1em;
    padding: 2rem;
    max-width: 80%;
}