.navbar-brand.h1-mimic {
    color: $dark-blue;

    @include media-breakpoint-up(m) {
        font-size: 2.5rem !important;
    }

    @include media-breakpoint-up(lg) {
        font-size: 4.5rem !important;
        // transition: font-size 0.15s ease-out;
    }
}


@include media-breakpoint-up(lg) {
    .header__main-nav__scrolled {
        .navbar-brand.h1-mimic {
            font-size: 3.5rem !important;
            transition: font-size 0.2s ease-in-out;
        }
    }
}

.site-main__single-post {
    max-width: 992px;
    margin: auto;
}

.column_66_percent {
    @include media-breakpoint-up(md) {
        width: 66%;
        margin-left: 0;
    }
}

// .work-block__container {
//     .card-body {
//         padding-top: 0px;
//     }
// }

.work-block__title {
    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $dark-blue;

        &:hover {
            text-decoration: underline;
        }
    }
}

.wp-block-cover__inner-container {
    padding: 4rem 0 4rem 0;
}

// #wrapper-footer {
//     padding: 0;
//     .wrapper {
//         padding-top: 0;
//     }
// }

.wrapper {
    padding-bottom: 0;
}

.archive__article {
    box-shadow: $box-shadow;

    &:hover {
        box-shadow: $box-shadow-lg;
    }
}

.article__content {
    padding: 1rem;
}