$color_1: #000;
$color_2: #21759b;
$color_3: #6d6d6d;
$color_4: #cd2653;
$color_5: inherit;
$color_6: #fff;
$color_7: #f5efe0;
$color_8: #dcd7ca;
$font-family_1: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
$font-family_2: monospace;
$font-family_3: inherit;
$font-family_4: NonBreakingSpaceOverride, "Hoefler Text", "Noto Serif", Garamond, "Times New Roman", serif;
$background-color_1: #f1f1f1;
$background-color_2: transparent;
$background-color_3: #cd2653;
$background-color_4: currentColor;
$background-color_5: #fff;
$background-color_6: #000;
$background-color_7: #6d6d6d;
$background-color_8: #dcd7ca;
$background-color_9: #f5efe0;
$background-color_10: #dedfdf;
$border-color_1: #dcd7ca;
$border-color_2: #cd2653;
$border-color_3: currentColor;
$border-color_4: #dedfdf;
$border-top-color_1: transparent;
$border-bottom-color_1: #000;
$border-bottom-color_2: transparent;
$border-left-color_1: #000;
$border-left-color_2: transparent;
